.navbar-header {
	float: right;
}

.nav li a {
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #1C8E6C;
	color: #2e3133;
}

body { 
	background: url('../img/leaf.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	top: 65px;
}

.learn-more {
	text-align: left;
	float: left;
}

.modal-body {
	height: 500px;
}

#modalframe {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.modal-button {
	float: right;
	padding: 15px;
}

.form-control {
	width: 80%;
}

.vid {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.social {
	display: inline;
	padding: 15px;
}

.social span {
	margin-bottom: 15px;
}

.anchor {
	padding-top: 50px;
}

.carousel-caption {
	color: black;
	text-align: left;
}

.jumbotron {
	background-color: transparent;
}

.jumbotron p {
	color: #1EBF4C;

}

.topContainer {
	background-color: white;
	opacity: .9;
	border-radius: 25px;
	padding: 25px;
}

.col-md-4 {
	margin: 5px;
	width: 32%;
}

.text-box {
	background-color: white;
	opacity: .9;
	border-radius: 25px;
}

a {
	font-size: 20px;
}

a:hover {
	text-decoration: none;
}

.myProj {
	float: left;
	text-transform: uppercase;
    font-size: 16px;
    padding: 13px;
}

.myProj a {
	color: #1C8E6C;
	padding: 15px;
}

#accordion {
	padding-top: 65px;
}

.panel-body {
	background-color: #2e3133;
	color: white;
}

.panel-default .panel-heading {
	background-color: #acafb2; 
}

.panel-title {
	color: #1C8E6C;
}

#name img {
	padding: 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
 }

#faq {
	background-image: url('../img/electronics.jpg');
	/*Add a background image*/
	/*background-attachment: fixed;*/
	/*Give the background a fixed position does it not scroll when you scroll*/
	background-size: cover;
	/*Have the background cover the entire div section*/
	color: #2e3133;
	/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
	padding:100px;
	padding-top: 5px;
	min-height: 1020px;
	margin-top: 45px;
	margin-bottom: 15px;
	width: 100%
}

/*Give 1 p tag in a section with white text.*/
.white-text {
	color: white;
}

#about h1 {
	color: white;
}

#about img {
	display:block;
    margin:auto;
}

#work h1 {
	color: white;
}

 #contact {
 	/*Add a background image*/
	background-image: url('../img/Fern.jpg');
	/*Give the background a fixed position*/
	background-attachment: fixed;
	background-size: cover;
	/*Have the background cover the entire div section*/
	color: white;
	/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
	padding:100px;
	padding-top: 50px;
	/*height: 400px;*/
	min-height: 500px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#contact span {
	margin: 15px;
}
